
<%= admin_id %>
<%= lab.labName %>
<%= lab.address %>
<%= lab.city %>
send to http://localhost:3000/admin/<%= admin_id %>/labs/<%= lab.labName %>/update
POST labname, address, city

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./templates/head', {title:'Home'} ); %>
</head>

<body class="container">

    <header>
        <%- include('./templates/nav'); %>
    </header>
    <h1>Editar laboratorios</h1>
    <main>
      <form action="/" method="POST">
            <div class="mb-3">
              <label for="name" class="form-label">Introduce el nombre del laboratorio</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Nombre del laboratorio">
            </div>
            <div class="mb-3">
              <label for="address" class="form-label">Intoduce la dirección</label>
              <input type="text" class="form-control" id="address" name="address" placeholder="Dirección">
            </div>
            <div class="mb-3">
              <label for="city" class="form-label">Introduce la ciudad</label>
              <input type="text" class="form-control" id="city" name="city" placeholder="Ciudad">
            </div>
            <button type="submit" class="btn btn-primary">Confirmar cambios</button>
          </form>
    </main>

    <footer>
        <%- include('./templates/footer'); %>
    </footer>

</body>

</html>