


<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./templates/head', {title:'Home'} ); %>
</head>

<body class="container">

    <header>

        <%- include('./templates/nav_admin'); %>
    </header>

<h2><%= user_name %></h2>
<h2><%= surname1 %> <%= surname2 %></h2>
<p><%= address %></p>   
<p><%= email %></p>

<div class="table-responsible">
    <% if (bills != '') { %>
        <table class="table table-striped text-center">
            <thead>
                <tr class="table-dark">
                    <th>ID</th>
                    <th>Total</th>
                    <th>Nif</th>
                    <th>Fecha</th>
                    <th>Dirección</th>
                    <th>ID cliente</th>
                </tr>
            </thead>
            <tbody>
            <% bills.forEach((row, index) => { %>
                <tr class="align-middle">
                    <td><%= index  %> </td>
                    <td><%= row.id_bill  %> </td>
                    <td><%= row.total  %></td>
                    <td><%= row.nif  %></td>
                    <td><%= row.bill_date  %></td>
                    <td><%= row.fk_id_user  %></td>
                    <td>
                        <a href="/admin/<%=admin_id %>/print/<%= row.id_bill %> " class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a>
                    </td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <h1 class="text-center text-secondary mt-5">Este usuario no tienen ninguna factura</h1>
        <% } %> 
</div>

<footer>
    <%- include('./templates/footer'); %>
</footer>

</body>

</html>