




<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./templates/head', {title:'Home'} ); %>
</head>

<body class="container">

    <header>
        <%- include('./templates/nav_admin'); %>
    </header>

    <div class="table-responsible">
      <% if (result != '') { %>
          <table class="table table-striped text-center">
              <thead>
                  <tr class="table-dark">
                      <th>Nombre</th>
                      <th>Dirección</th>
                      <th>Ciudad</th>
                      <th>Acción</th>
                  </tr>
              </thead>
              <tbody>
              <% result.forEach((row, index) => { %>
                  <tr class="align-middle">
                      <td><%= row.deliveryPoint  %></td>
                      <td><%= row.address  %></td>
                      <td><%= row.city  %></td>
                      <td>
                          <a href="/admin/<%= admin_id %>/labs/<%= index %> " class="text-success">Editar</a>
                          <a href="/admin/<%= admin_id %>/labs/<%= index %>/delete " class="text-success">Borrar</a>
                      </td>
                  </tr>
              <% }) %>
              </tbody>
          </table>
      <% } else { %>
          <h1 class="text-center text-secondary mt-5">No hay resultados</h1>
          <% } %> 
  </div>
<h1>Crear Punto de recogida</h1>
<main>
  <form action="/admin/<%=admin_id%>/deliveryPoints" method="POST">
        <div class="mb-3">
          <label for="deliveryPoint" class="form-label">Nombre del punto de recogida</label>
          <input type="text" class="form-control" id="deliveryPoint" name="deliveryPoint" >
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">Introduce la dirección</label>
          <input type="text" class="form-control" id="address" name="address">
        </div>
        <div class="mb-3">
          <label for="city" class="form-label">Ciudad</label>
          <input type="text" class="form-control" id="city" name="city">
        </div>
        <button type="submit" class="btn btn-primary">Crear nueva punto de recogida</button>
      </form>
</main>
<footer>
    <%- include('./templates/footer'); %>
</footer>

</body>

</html>