
<%= deliveryPoint1.deliveryPoint %>
<%= deliveryPoint1.address %>
<%= deliveryPoint1.city %>
send to http://localhost:3000/admin/<%= admin_id %>/labs/<%= deliveryPoint1.deliveryPoint %>/update
POST labname, address, city

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./templates/head', {title:'Home'} ); %>
</head>

<body class="container">

    <header>
        <%- include('./templates/nav_admin'); %>
    </header>
    <h1>Editar puntos de recogida</h1>
    <main>
      <form action="/admin/<%= admin_id %>/deliveryPoints/<%= deliveryPoint1.deliveryPoint %>/update" method="POST">
            <div class="mb-3">
              <label for="deliveryPoint" class="form-label">Introduce el nombre del punto de recogida</label>
              <input type="text" class="form-control" id="deliveryPoint" name="deliveryPoint" placeholder="Nombre del punto de recogida" value="<%= deliveryPoint1.deliveryPoint %>">
            </div>
            <div class="mb-3">
              <label for="address" class="form-label">Introduce la dirección</label>
              <input type="text" class="form-control" id="address" name="address" placeholder="Dirección" value="<%= deliveryPoint1.address %>">
            </div>
            <div class="mb-3">
              <label for="city" class="form-label">Introduce la ciudad</label>
              <input type="text" class="form-control" id="city" name="city" placeholder="Ciudad" value="<%= deliveryPoint1.city %>">
            </div>
            <button type="submit" class="btn btn-primary">Confirmar cambios</button>
          </form>
    </main>
    <br>
    <br>
    <br>
    <footer>
        <%- include('./templates/footer'); %>
    </footer>

</body>

</html>