<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./templates/head', {title:'Home'} ); %>
        <link rel="stylesheet" href="./../css/style.css">
</head>

<body class="container">

    <header>
        <%- include('./templates/nav'); %>
    </header>
    <main id="cart">
        <section id="cartProducts">
            <h1>Carrito</h1>
            <% cartProducts.forEach(element=> { %>
                <div id="<%=element.id_item%>" class="product">
                    <figure class="imgContainer">
                        <img class="productImg" src='<%=element.img%>' alt="foto Smartphone">
                    </figure>
                    <article class="productInfo">
                        <h3 class="productBrand">
                            <%=element.brand%>
                                <%=element.model%>
                        </h3>
                        <p class="productDescription">
                            <%=element.description%>
                        </p>
                        <details>
                            <summary>Especificaciones</summary>
                            <p class="productSpecs">
                                <%=element.specs%>
                            </p>
                        </details>
                        <p class="productPrice">Precio: <%=element.price%>€ </p>
                    </article>
                </div>
                <% }) %>
        </section>
        <section id="paySection">
            <h3>Resumen</h3>
            <div id="totalSumm">
                <div>
                    <p>Total (IVA incluído)</p>
                    <p><strong>Subtotal</strong></p>
                </div>
                <div>
                    <p style="font-size: 12px; color: gray;">
                        <% let total=0%>
                            <% cartProducts.forEach(element=> { %>
                                <% total+=element.price%>
                                    <% }) %>

                                        <%= total %>€
                    </p>
                    <p><strong>
                            <%= total %>€
                        </strong></p>
                    <p style="font-size: 12px; color: gray;">
                        <% let IVA=total - total/1.21 %>
                            <%=IVA.toFixed(2) %>€ IVA incluido
                    </p>

                </div>

            </div>
            <button id="buyButton">Comprar</button>
        </section>
    </main>

    <footer>
        <%- include('./templates/footer'); %>
    </footer>

    <script>
        const buyButton = document.getElementById('buyButton')
        buyButton.addEventListener('click', () => {
            let admin = JSON.parse(localStorage.getItem('admin'))
            let client = JSON.parse(localStorage.getItem('client'))
            if (admin == true) {
                window.location.assign(`/adminpay`)
            } else if(client == true) {
                window.location.assign(`/userpay`)
            }else{
                window.location.assign(`/login`)
            }
        })
    </script>

</body>

</html>